@import url("fonts.css");

:root {
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-border-color: transparent;
  --bs-btn-focus-box-shadow: 2px 2px 4px rgb(0 0 0 / 40%);
}

:focus-visible {
  outline: none !important;
}

.ultralight {
  font-weight: 200;
}

.light {
  font-weight: 300;
}

.normal {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extrabold {
  font-weight: 800;
}

.fat {
  font-weight: 900;
}

.mss-1 {
  margin-right: -0.25rem !important;
}

.mss-2 {
  margin-right: -0.5rem !important;
}

.mss-3 {
  margin-right: -1rem !important;
}

.mss-4 {
  margin-right: -1.5rem !important;
}

.mss-5 {
  margin-right: -3rem !important;
}

.mee-1 {
  margin-left: -0.25rem !important;
}

.mee-2 {
  margin-left: -0.5rem !important;
}

.mee-3 {
  margin-left: -1rem !important;
}

.mee-4 {
  margin-left: -1.5rem !important;
}

.mee-5 {
  margin-left: -3rem !important;
}

.mxx-1 {
  margin-left: -0.25rem !important;
  margin-right: -0.25rem !important;
}

.mxx-2 {
  margin-left: -0.5rem !important;
  margin-right: -0.5rem !important;
}

.mxx-3 {
  margin-left: -1rem !important;
  margin-right: -1rem !important;
}

.mxx-4 {
  margin-left: -1.5rem !important;
  margin-right: -1.5rem !important;
}

.mxx-5 {
  margin-left: -3rem !important;
  margin-right: -3rem !important;
}

.text-purple1 {
  color: #5e2a9f;
}
.text-purple2 {
  color: #7857a1;
}

.text-gray1 {
  color: #5b597f;
}

.text-gray2 {
  color: #494765;
}

.text-gray3 {
  color: #262535;
}

.text-gray4 {
  color: #9291ae;
}

.text-gray44 {
  color: #9291ae;
}

.text-blackk {
  color: #000;
}

.text-whitee {
  color: #fff;
}

.text-whitee:hover {
  color: rgba(171, 243, 204, 0.774);
}

.text-whitee2 {
  color: #fff;
}

.text-blackk:hover {
  color: #565e64 !important;
}

.text-gray44 > *,
.text-gray44 path {
  transition: 0.2s;
}

.text-gray44:hover > * {
  color: #565e64 !important;
}

.text-gray5 {
  color: #e7e7ee;
}

.text-gray6 {
  color: #c4c2d5;
}

.text-gray7 {
  color: #a09ebb;
}

.text-gray8 {
  color: #3e3d50;
}

.text-1 {
  color: #c22020;
}

.text-2 {
  color: #ff3b3b;
}

.text-3 {
  color: #522a85;
}

.text-4 {
  color: #251271;
}

.text-5 {
  color: #323142;
}

.text-6 {
  color: #e53535;
}

.text-yellow1 {
  color: #ffcc00;
}

.text-green1 {
  color: #2e961d;
}

.b-hc {
  position: relative;
}

.b-hc::after {
  position: absolute;
  content: "";
  bottom: -40%;
  right: 0;
  left: 0;
  width: 25%;
  height: 8px;
  border: 0 solid #ffcc00;
  border-top-width: 3px;
  border-radius: 50%;
}

@media (min-width: 992px) {
  .b-hc::after {
    width: 50%;
    right: 25%;
  }
}

.border-hc {
  position: relative;
}

.border-hc::after {
  position: absolute;
  content: "";
  bottom: -40%;
  right: 0;
  width: 111px;
  height: 8px;
  border: 0 solid #ffcc00;
  border-top-width: 3px;
  border-radius: 50%;
}

.border-hc-10::after {
  right: 10%;
  width: 250px;
}

@media (min-width: 992px) {
  .border-hc-lg-5::after {
    right: 5%;
    width: 250px;
  }

  .border-hc-lg-15::after {
    right: 15%;
    width: 250px;
  }
}

.banner-top {
  background: var(--banner-topbg);
  background-size: cover;
  background-position: center center;
}

.about-us__img {
  max-width: 34rem;
  height: 34rem;
}

@media (max-width: 575px) {
  .about-us__img {
    height: auto;
    max-height: 34rem;
  }
}

.bg-1 {
  background-color: #26253567;
}

.bg-light1 {
  background-color: #f2f2f5;
}

.bg-green1 {
  background-color: #06c270;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #03643a;
  --bs-btn-active-bg: #054627;
}

.bg-yellow2 {
  background-color: #e5b800;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #9e7f03;
  --bs-btn-active-bg: #524100;
}

.bg-green2 {
  background-color: #0cae68;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #087344;
  --bs-btn-active-bg: #053d25;
}

.bg-green3 {
  background-color: #2e961d;
}
.bg-yellow3 {
  background-color: #aa8900;
}

.w-75r {
  width: 7.5rem;
}

.bg-purple1 {
  background-color: #5e2a9f;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #3b116e;
  --bs-btn-active-bg: #210840;
}

.bg-purple2 {
  background-color: #251271;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #190b50;
  --bs-btn-active-bg: #0e0630;
}
.bg-purple3 {
  background-color: #522a85;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #381b5e;
  --bs-btn-active-bg: #2a1447;
}

.bg-gray1 {
  background-color: #9291ae;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #64646d;
  --bs-btn-active-bg: #3b393d;
}

.bg-gray2 {
  background-color: #3e3d50;
}

.bg-gray3 {
  background-color: #262535;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1c1b27;
  --bs-btn-active-bg: #0e0d14;
}

.bg-gray4 {
  background-color: #494765;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #494765;
  --bs-btn-active-bg: #494765;
}

.bg-gray5 {
  background-color: #c4c2d5;
}

@media (min-width: 992px) {
  .bg-lg-gray5 {
    background-color: #c4c2d5 !important;
  }
}

.bg-gray6 {
  background-color: #e7e7ee;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8d8d96;
  --bs-btn-active-bg: #5a5a64;
}
.bg-gray66 {
  background-color: #e7e7ee;
}

.bg-gray7 {
  background-color: #26253526;
}

.bg-gray8 {
  background-color: #2625350a;
}

.bg-gray9 {
  background-color: #f8f8fb;
}

.bg-gray10 {
  background-color: #e5e5f0;
}

.bg-gray11 {
  background-color: #f5f5ff;
}

.bg-gray12 {
  background-color: #ebebf0;
  --bs-btn-hover-bg: #ebebf0;
  --bs-btn-active-bg: #ebebf0;
}

.bg-gray13 {
  background-color: #5b597f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2e2d46;
  --bs-btn-active-bg: #161624;
}

.bg-main {
  background-color: #fafafc;
  --bs-btn-hover-bg: #fafafc;
  --bs-btn-active-bg: #fafafc;
}

.bg-footer {
  background-color: #323142;
}

.bg-yellow1 {
  background-color: #ffcc00;
}

.bg-blue1 {
  background-color: #004fc4;
  --bs-btn-hover-color: inherit;
  --bs-btn-hover-bg: #043683;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-bg: #032353;
}

.bg-red1 {
  background-color: #ff3b3b !important;
  --bs-btn-hover-color: #cbc5c5;
  --bs-btn-hover-bg: #ac0606;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-bg: #660606;
}

.bg-red2 {
  background-color: #ff264d;
}

.bg-red3 {
  background-color: #df2547;
}
.bg-red33 {
  background-color: #df2547;
  --bs-btn-hover-color: rgba(171, 243, 204, 0.774);
  --bs-btn-hover-bg: #b31733;
  --bs-btn-active-bg: #750a1d;
}

.bg-red4 {
  background-color: #e53535;
  --bs-btn-hover-color: inherit;
  --bs-btn-hover-bg: #aa1d1d;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-bg: #aa1d1d;
}

.border-c1 {
  border-color: #c4c2d5;
}

.border-solid {
  border-style: solid;
}

.ltr {
  direction: ltr !important;
}

.f-medium {
  font-size: 1.7rem;
}

.f-normal {
  font-size: 1rem;
}

.f-small {
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  .fs-sm-6 {
    font-size: 1rem;
  }
}

.f-smalle {
  font-size: 0.812rem;
}

.f-smaller {
  font-size: 0.75rem;
}

.f-heading1 {
  font-size: 1.125rem;
}

.w-normal {
  font-weight: 300;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.mt-6 {
  margin-top: 4rem !important;
}

.mb-6 {
  margin-bottom: 4rem;
}

.me-6 {
  margin-right: 4rem !important;
}

.ms-6 {
  margin-left: 4rem !important;
}

.mx-6 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.my-6 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.mt-8 {
  margin-top: 8rem !important;
}

.mb-8 {
  margin-bottom: 8rem !important;
}

.me-8 {
  margin-right: 8rem !important;
}

.ms-8 {
  margin-left: 8rem !important;
}

.mx-8 {
  margin-right: 8rem !important;
  margin-left: 8rem !important;
}

.my-8 {
  margin-top: 8rem !important;
  margin-bottom: 8rem !important;
}

.mt-22 {
  margin-top: 2rem;
}

.mb-22 {
  margin-bottom: 2rem !important;
}

.me-22 {
  margin-right: 2rem !important;
}

.ms-22 {
  margin-left: 2rem !important;
}

.mx-22 {
  margin-right: 2rem !important;
  margin-left: 2rem !important;
}

.my-22 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.m-22 {
  margin-right: 2rem !important;
  margin-left: 2rem !important;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

@media (min-width: 768px) {
  .mt-md-33 {
    margin-top: 2.5rem !important;
  }

  .mb-md-33 {
    margin-bottom: 2.5rem !important;
  }

  .me-md-33 {
    margin-right: 2.5rem !important;
  }

  .ms-md-33 {
    margin-left: 2.5rem !important;
  }

  .mx-md-33 {
    margin-right: 2.5rem !important;
    margin-left: 2.5rem !important;
  }

  .my-md-33 {
    margin-top: 2.5rem !important;
    margin-bottom: 2.5rem !important;
  }

  .m-md-33 {
    margin-right: 2.5rem !important;
    margin-left: 2.5rem !important;
    margin-top: 2.5rem !important;
    margin-bottom: 2.5rem !important;
  }
}

.mt-33 {
  margin-top: 2.5rem !important;
}

.mb-33 {
  margin-bottom: 2.5rem !important;
}

.me-33 {
  margin-right: 2.5rem !important;
}

.ms-33 {
  margin-left: 2.5rem !important;
}

.mx-33 {
  margin-right: 2.5rem !important;
  margin-left: 2.5rem !important;
}

.my-33 {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
}

.m-33 {
  margin-right: 2.5rem !important;
  margin-left: 2.5rem !important;
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
}

.anim-stick {
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pt-6 {
  padding-top: 4rem !important;
}

.pt-66 {
  padding-top: 6rem !important;
}
.pt-88 {
  padding-top: 8rem !important;
}

.pb-6 {
  padding-bottom: 4rem !important;
}

.pe-6 {
  padding-right: 4rem !important;
}

.ps-6 {
  padding-left: 4rem !important;
}

.px-6 {
  padding-right: 4rem !important;
  padding-left: 4rem !important;
}

.py-6 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.mt-n5 {
  margin-top: -3rem !important;
}

.mx-n1 {
  margin-right: -0.25rem !important;
  margin-left: -0.25rem !important;
}

.my-n1 {
  margin-top: -0.25rem !important;
  margin-bottom: -0.25rem !important;
}

.mt-n1 {
  margin-top: -0.25rem !important;
}

.m-n1 {
  margin-top: -0.25rem !important;
  margin-bottom: -0.25rem !important;
  margin-right: -0.25rem !important;
  margin-left: -0.25rem !important;
}

.mx-n11 {
  margin-right: -0.75rem !important;
  margin-left: -0.75rem !important;
}

.mx-n3 {
  margin-right: -1rem !important;
  margin-left: -1rem !important;
}

.mx-n5 {
  margin-right: -3rem !important;
  margin-left: -3rem !important;
}

.ms-n11 {
  margin-left: -0.75rem !important;
}

.my-n11 {
  margin-top: -0.75rem !important;
  margin-bottom: -0.75rem !important;
}

.mt-n11 {
  margin-top: -0.75rem !important;
}

.m-n11 {
  margin-top: -0.75rem !important;
  margin-bottom: -0.75rem !important;
  margin-right: -0.75rem !important;
  margin-left: -0.75rem !important;
}

.mt-11 {
  margin-top: 0.75rem !important;
}

.mb-11 {
  margin-bottom: 0.75rem !important;
}

.me-11 {
  margin-right: 0.75rem !important;
}

.ms-11 {
  margin-left: 0.75rem !important;
}

.mx-11 {
  margin-right: 0.75rem !important;
  margin-left: 0.75rem !important;
}

.my-11 {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important;
}

.m-11 {
  margin-right: 0.75rem !important;
  margin-left: 0.75rem !important;
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important;
}

.mt-01 {
  margin-top: 0.125rem !important;
}

.mb-01 {
  margin-bottom: 0.125rem !important;
}

.me-01 {
  margin-right: 0.125rem !important;
}

.ms-01 {
  margin-left: 0.125rem !important;
}

.mx-01 {
  margin-right: 0.125rem !important;
  margin-left: 0.125rem !important;
}

.my-01 {
  margin-top: 0.125rem !important;
  margin-bottom: 0.125rem !important;
}

.m-01 {
  margin-right: 0.125rem !important;
  margin-left: 0.125rem !important;
  margin-top: 0.125rem !important;
  margin-bottom: 0.125rem !important;
}

.pt-11 {
  padding-top: 0.75rem !important;
}

.pb-11 {
  padding-bottom: 0.75rem !important;
}

.pe-11 {
  padding-right: 0.75rem !important;
}

.ps-11 {
  padding-left: 0.75rem !important;
}

.px-11 {
  padding-right: 0.75rem !important;
  padding-left: 0.75rem !important;
}

.py-11 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.p-11 {
  padding-right: 0.75rem !important;
  padding-left: 0.75rem !important;
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}
.pt-01 {
  padding-top: 0.125rem !important;
}

.pb-01 {
  padding-bottom: 0.125rem !important;
}

.pe-01 {
  padding-right: 0.125rem !important;
}

.ps-01 {
  padding-left: 0.125rem !important;
}

.px-01 {
  padding-right: 0.125rem !important;
  padding-left: 0.125rem !important;
}

.py-01 {
  padding-top: 0.125rem !important;
  padding-bottom: 0.125rem !important;
}

.p-01 {
  padding-right: 0.125rem !important;
  padding-left: 0.125rem !important;
  padding-top: 0.125rem !important;
  padding-bottom: 0.125rem !important;
}

@media (min-width: 768px) {
  .p-md-11 {
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
  }
}

@media (min-width: 768px) {
  .mx-md-n11 {
    margin-right: -0.75rem !important;
    margin-left: -0.75rem !important;
  }

  .my-md-n11 {
    margin-top: -0.75rem !important;
    margin-bottom: -0.75rem !important;
  }

  .mt-md-n11 {
    margin-top: -0.75rem !important;
  }

  .m-md-n11 {
    margin-top: -0.75rem !important;
    margin-bottom: -0.75rem !important;
    margin-right: -0.75rem !important;
    margin-left: -0.75rem !important;
  }

  .mt-md-11 {
    margin-top: 0.75rem !important;
  }

  .mb-md-11 {
    margin-bottom: 0.75rem !important;
  }

  .me-md-11 {
    margin-right: 0.75rem !important;
  }

  .ms-md-11 {
    margin-left: 0.75rem !important;
  }

  .mx-md-11 {
    margin-right: 0.75rem !important;
    margin-left: 0.75rem !important;
  }

  .my-md-11 {
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
  }

  .m-md-11 {
    margin-right: 0.75rem !important;
    margin-left: 0.75rem !important;
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
  }

  .pt-md-11 {
    padding-top: 0.75rem !important;
  }

  .pb-md-11 {
    padding-bottom: 0.75rem !important;
  }

  .pe-md-11 {
    padding-right: 0.75rem !important;
  }

  .ps-md-11 {
    padding-left: 0.75rem !important;
  }

  .px-md-11 {
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
  }

  .py-md-11 {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
  }

  .p-md-11 {
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
  }
}

@media (min-width: 992px) {
  .mt-lg-22 {
    margin-top: 2rem;
  }
  
  .mx-lg-n11 {
    margin-right: -0.75rem !important;
    margin-left: -0.75rem !important;
  }

  .my-lg-n11 {
    margin-top: -0.75rem !important;
    margin-bottom: -0.75rem !important;
  }

  .mt-lg-n11 {
    margin-top: -0.75rem !important;
  }

  .m-lg-n11 {
    margin-top: -0.75rem !important;
    margin-bottom: -0.75rem !important;
    margin-right: -0.75rem !important;
    margin-left: -0.75rem !important;
  }

  .mt-lg-11 {
    margin-top: 0.75rem !important;
  }

  .mb-lg-11 {
    margin-bottom: 0.75rem !important;
  }

  .me-lg-11 {
    margin-right: 0.75rem !important;
  }

  .ms-lg-11 {
    margin-left: 0.75rem !important;
  }

  .mx-lg-11 {
    margin-right: 0.75rem !important;
    margin-left: 0.75rem !important;
  }

  .my-lg-11 {
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
  }

  .m-lg-11 {
    margin-right: 0.75rem !important;
    margin-left: 0.75rem !important;
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
  }

  .pt-lg-11 {
    padding-top: 0.75rem !important;
  }

  .pb-lg-11 {
    padding-bottom: 0.75rem !important;
  }

  .pe-lg-11 {
    padding-right: 0.75rem !important;
  }

  .ps-lg-11 {
    padding-left: 0.75rem !important;
  }

  .px-lg-11 {
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
  }

  .py-lg-11 {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
  }

  .p-lg-11 {
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
  }
}

.my-00 {
  margin-top: 0.375rem !important;
  margin-bottom: 0.375rem !important;
}
.mt-00 {
  margin-top: 0.375rem !important;
}



.me-00 {
  margin-right: 0.375rem !important;
}

.pt-00 {
  padding-top: 0.375rem !important;
}

.pb-00 {
  padding-bottom: 0.375rem !important;
}

.pe-00 {
  padding-right: 0.375rem !important;
}

.ps-00 {
  padding-left: 0.375rem !important;
}

.px-00 {
  padding-right: 0.375rem !important;
  padding-left: 0.375rem !important;
}

.py-00 {
  padding-top: 0.375rem !important;
  padding-bottom: 0.375rem !important;
}

.me-000 {
  margin-right: 0.1rem;
}

.p-00 {
  padding-right: 0.375rem !important;
  padding-left: 0.375rem !important;
  padding-top: 0.375rem !important;
  padding-bottom: 0.375rem !important;
}

.pt-22 {
  padding-top: 2rem !important;
}

.pb-22 {
  padding-bottom: 2rem !important;
}

.pe-22 {
  padding-right: 2rem !important;
}

.ps-22 {
  padding-left: 2rem !important;
}

.px-22 {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.py-22 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.p-22 {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.pt-33 {
  padding-top: 2.5rem !important;
}

.pb-33 {
  padding-bottom: 2.5rem !important;
}

.pe-33 {
  padding-right: 2.5rem !important;
}

.ps-33 {
  padding-left: 2.5rem !important;
}

.px-33 {
  padding-right: 2.5rem !important;
  padding-left: 2.5rem !important;
}

.py-33 {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}

.p-33 {
  padding-right: 2.5rem !important;
  padding-left: 2.5rem !important;
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}

.text-justify {
  text-align: justify;
}

.latest-products__img {
  height: 14rem;
}

.in > * {
  flex-shrink: 0;
  max-width: 100%;
  margin-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: calc(var(--bs-gutter-x) * 0.5);
}

.in-auto > * {
  flex: 0 0 auto;
  width: auto;
}

#latest-products {
  background-color: #5e2a9f;
  background-image: var(--bg-url);
  background-size: contain;
  background-repeat: space;
}

#form-email {
  flex-grow: 2;
}

#form-email::placeholder {
  color: white;
  opacity: 1;
}

#form-email:-ms-input-placeholder {
  color: white;
}

#form-email::-ms-input-placeholder {
  color: white;
}

.offers__item {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.justify-self-end {
  justify-self: flex-end;
}

.translate-middle-2yy {
  transform: translateY(-100%) !important;
}

.translate-middle-2x {
  transform: translateX(-100%) !important;
}

.translate-middle-xx {
  transform: translateX(50%) !important;
}

.translate-middle-yy {
  transform: translateX(-50%) !important;
}

.translate-middle2 {
  transform: translate(50%, -50%) !important;
}

.translate-middle-x10 {
  transform: translateY(10%) !important;
}

.translate-middle-x-10 {
  transform: translateY(10%) !important;
}

.translate-middle-toast {
  transform: translate(-10%, -50%) !important;
}

.w-1 {
  width: 0.25rem;
}

.w-2 {
  width: 0.5rem;
}

.w-3 {
  width: 1rem !important;
}

.w-4 {
  width: 1.5rem;
}

.w-5 {
  width: 3rem;
}

.w-6 {
  width: 4rem;
}

.w-22 {
  width: 2rem;
}

.w-33 {
  width: 2.5rem;
}

.slick-dots li {
  margin-left: 1rem;
  margin-right: 1rem;
}

.slick-dots li button:before {
  content: "" !important;
  width: 40px;
  height: 10px;
  background-color: #a09ebb;
  border-radius: 8px;
  opacity: 1;
}

@media (max-width: 767.98px) {
  .dots-md-small .slick-dots li {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }

  .dots-md-small .slick-dots li button:before {
    width: 20px;
    height: 8px;
  }
}

@media (max-width: 767.98px) {
  #serachModalShowAll {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0 !important;
    background-color: #d4c1e9;
    line-height: 3.5rem;
    height: 3.5rem;
    padding: 0 !important;
    z-index: 3;
  }
  .slick-dots li {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }

  .slick-dots li button:before {
    width: 20px;
    height: 8px;
  }
}

.slick-dots li button:hover {
  opacity: 0.5;
}

.slick-dots li.slick-active button:hover {
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  background-color: #572795;
}

.translate-10 .slick-list {
  transform: translateX(-10%);
}

.translate-n10 .slick-list {
  transform: translateX(10%);
}

.translate-5 .slick-list {
  transform: translateX(-5%);
}

.translate-n5 .slick-list {
  transform: translateX(5%);
}

@media (max-width: 992px) {
  #search-input-label {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
  }
}

.border-t1 {
  border: 0.7px solid #a09ebb33 !important;
}

@media (min-width: 992px) {
  .rounded-lg-circle {
    border-radius: 50% !important;
  }

  .bg-lg-transparent {
    --bs-bg-opacity: 1;
    background-color: transparent !important;
  }
}

@media (min-width: 992px) {
  .rounded-lg-1 {
    border-radius: 0.25rem;
  }
}

.rounded-22 {
  border-radius: 1.5rem;
}

.rounded-9 {
  border-radius: 9rem;
}

@media (min-width: 576px) {
  .rounded-sm-3 {
    border-radius: 0.5rem;
  }
  .mb-sm-11 {
    margin-bottom: 0.75rem !important;
  }
  .border-sm-start {
    border-left: 1px var(--bs-border-style) var(--bs-border-color) !important;
  }

  .border-sm-end {
    border-right: 1px var(--bs-border-style) var(--bs-border-color) !important;
  }

  .border-sm-start-0 {
    border-left: 0 !important;
  }

  .border-sm-end-0 {
    border-right: 0 !important;
  }
}

@media (min-width: 768px) {
  .border-md-start {
    border-left: 1px var(--bs-border-style) var(--bs-border-color) !important;
  }

  .border-md-end {
    border-right: 1px var(--bs-border-style) var(--bs-border-color) !important;
  }

  .border-md-start-0 {
    border-left: 0 !important;
  }

  .border-md-end-0 {
    border-right: 0 !important;
  }
}

@media (min-width: 992px) {
  .px-lg-r1 {
    padding-right: 0.35rem !important;
    padding-left: 0.35rem !important;
  }
  .border-lg-start {
    border-left: var(--bs-border-width) var(--bs-border-style)
      var(--bs-border-color) !important;
  }

  .border-lg-end {
    border-right: var(--bs-border-width) var(--bs-border-style)
      var(--bs-border-color) !important;
  }

  .border-lg-start-0 {
    border-left: 0 !important;
  }

  .border-lg-end-0 {
    border-right: 0 !important;
  }
}

@media (min-width: 1200px) {
  .px-xl-11 {
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
  }
  .px-xl-r1 {
    padding-right: 0.1rem !important;
    padding-left: 0.1rem !important;
  }
  .border-xl-start {
    border-left: var(--bs-border-width) var(--bs-border-style)
      var(--bs-border-color) !important;
  }

  .border-xl-end {
    border-right: var(--bs-border-width) var(--bs-border-style)
      var(--bs-border-color) !important;
  }

  .border-xl-start-0 {
    border-left: 0 !important;
  }

  .border-xl-end-0 {
    border-right: 0 !important;
  }
}

@media (min-width: 1400px) {
  .px-xxl-r1 {
    padding-right: 0.65rem !important;
    padding-left: 0.65rem !important;
  }
  .border-xll-start {
    border-left: var(--bs-border-width) var(--bs-border-style)
      var(--bs-border-color) !important;
  }

  .border-xll-end {
    border-right: var(--bs-border-width) var(--bs-border-style)
      var(--bs-border-color) !important;
  }

  .border-xll-start-0 {
    border-left: 0 !important;
  }

  .border-xll-end-0 {
    border-right: 0 !important;
  }
}

#joinUs-form {
  z-index: 2;
}

#joinUs-form input:focus {
  color: inherit;
  background-color: #16152b;
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

#authForm input:focus {
  color: #212529;
  background-color: #06c270b3;
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

html,
body {
  overflow-x: hidden !important;
  overflow-y: visible !important;
}
body {
  height: 100vh;
  padding-right: 0 !important;
  font-family: dana, tahoma;
  background-color: #fafafc;
}

#bdNavbar {
  height: auto !important;
  max-height: 100vh !important;
}

.btn-close:focus,
.navbar-toggler:focus,
#offcanvasClose:focus {
  box-shadow: 0 0 0 0;
}

#searchModalInput::placeholder {
  color: #5b597f;
}

#searchModalInput:-ms-input-placeholder {
  color: #5b597f;
}

#searchModalInput::-ms-input-placeholder {
  color: #5b597f;
}

#searchModalInput:focus {
  background-color: #ebebf0 !important;
  border-color: #c6c6c6;
  box-shadow: 0 0 0 0.25rem rgba(210, 210, 211, 0.25);
}

.cart-close {
  width: 22px;
  height: 22px;
}

.circle-green {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #06c270;
  border: 1px solid #fff;
}

.offer__img {
  max-width: 4.5rem;
  height: 5.4rem;
}

@media screen and (max-width: 291.98px) {
  .offer__img {
    max-width: 3.6rem;
  }
}

.mh-15r {
  max-height: 15rem;
  overflow: auto;
}

.hover-box {
  position: relative;
  transition: 0.2s;
}

.hover-box:hover {
  box-shadow: 0px 0px 5px 0.02rem rgb(146 145 50);
}

.scale-up {
  transform: scale(1.2);
}

.scale-down1 {
  transform: scale(0.8);
}

.scale-down2 {
  transform: scale(0.8);
}

.responsive2 .slick-list {
  width: 200%;
  margin: 0 -100%;
}

@media screen and (max-width: 575.98px) {
  .responsive4 .slick-list {
    width: 200%;
    margin: 0 -100%;
  }
}

@media (min-width: 992px) {
  .responsive2 .slick-list {
    width: 120%;
    margin: 0;
    padding-right: 10%;
    padding-left: 10%;
  }

  .hover-box {
    position: relative;
  }
}

.tri {
  position: relative;
}

.tri::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 10px;
  width: 10px;
  height: 10px;
  border-radius: 3px;
  border: 5px solid #494765;
  border-top-width: 0;
  border-left-width: 0;
  transform: translateY(-50%) rotate(45deg);
  transition: 0.2s;
}

.anim-rotate::after {
  transform: translateY(-50%) rotate(225deg);
}

.rounded-toffer {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.drop-hover {
  margin-top: 0;
  display: block;
}

.hover-menuitem:hover {
  padding-right: 1rem;
}

@media (min-width: 992px) {
  .flex-grow-lg-0 {
    flex-grow: 0 !important;
  }
}

.hover-links > *:hover {
  opacity: 0.7;
  box-shadow: 1px 1px 0px 0.02rem rgb(146 145 174);
}

.navbar-nav > *:hover {
  opacity: 0.5;
}

.hover-none:hover {
  color: inherit;
}

#id_email.form-control:focus,
.cart-input:focus {
  box-shadow: none !important;
}

.w-0 {
  width: 0 !important;
}

@media (min-width: 992px) {
  .w-lg-auto {
    width: auto !important;
  }
}

.anim {
  width: auto !important;
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
  transition: 0.2s;
}

@media (max-width: 991px) {
  header {
    height: 4.5rem;
  }
}

header {
  box-shadow: 0px 0px 4px rgba(157, 191, 249, 0.47);
}

/* about-us */

@media (max-width: 575px) {
  .about .b-hc::after {
    display: none;
  }
}

.pe-p40 {
  padding-right: 40%;
}

@media (min-width: 992px) {
  .pe-lg-p50 {
    padding-right: 50%;
  }
}

@media (min-width: 576px) {
  .py-sm-22 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .py-md-33 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

@media (max-width: 991px) {
  #about-us {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
    background-position: center right;
  }
}

@media (max-width: 575px) {
  #about-us {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    background-position: center right;
  }
}

@media (min-width: 992px) {
  .text-lg-nowrap {
    white-space: nowrap;
  }
}

/* contact-us */

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border: none;
}

@media (min-width: 610px) {
  .d-610-block {
    display: block !important;
  }
}

/* detail */

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mes {
    margin-right: -1.2rem;
    margin-left: 0.2rem;
  }
}

@media (max-width: 991px) {
  .detail-article .latest-products__img,
  .tags-article .latest-products__img {
    max-width: 6.25rem;
    height: 7.5rem;
  }
}

@media (max-width: 767px) {
  .shop-article .latest-products__img {
    max-width: 6.25rem;
    height: 7.5rem;
  }
}

.translate-middle-x100 {
  transform: translateX(100%);
}

.translate-middle-xn100 {
  transform: translateX(-100%);
}

.mw-66 {
  max-width: 66%;
}

@media (min-width: 576px) {
  .mw-sm-75 {
    max-width: 75%;
  }
}

.w-8r {
  width: 8rem !important;
  height: 2.3rem;
}

.mw-37 {
  max-width: 37.5rem;
}

.mh-30 {
  max-height: 30rem;
}

.q-di:focus {
  border-color: #ac0606;
  box-shadow: 0 0 0 0.25rem rgb(172, 6, 6, 25%);
}
.q-di2:focus {
  border-color: #5e2a9f;
  box-shadow: 0 0 0 0.25rem rgb(94, 42, 159, 25%);
}

.addToBtn {
  height: 2.9rem;
}


.basket_btn1,
.basket_btn2 {
  display: none;
}

.basket_btn3 {
  display: block;
  position: absolute !important;
  bottom: 50%;
  transform: translateY(50%);
  right: -6px;
  background: #e3d7f1;
  width: 2.2rem;
  border-radius: 8px 0 0 8px !important;
  z-index: 1;
  border-bottom: solid 2px white !important;
  border-top: solid 2px white !important;
  border-right: solid 2px #e3d7f1 !important;
  border-left: solid 2px white !important;
  padding: 4px 0;
  box-shadow: -8px 0 12px 1px #00000061;
  --bs-btn-active-shadow: -8px 0 12px 1px #00000061;
  --bs-btn-hover-bg: #d8cbe7;
  --bs-btn-active-bg: #d8cbe7;
}
.arrow111,
.arrow222,
.arrow333,
.arrow444 {
  position: absolute;
  content: '';
}
.arrow111,
.arrow222 {
  border-bottom: solid 4px transparent;
  border-top: solid 4px transparent;
  border-right: solid 4px transparent;
  border-left: solid 4px white;
  right: -8px;
  z-index: 1;
}
.arrow333,
.arrow444 {
  border-bottom: solid 6px transparent;
  border-top: solid 6px transparent;
  border-right: solid 6px transparent;
  border-left: solid 6px #e3d7f1;
  right: -12px;
}
.arrow111 {
  bottom: calc(50% - 21px);
}
.arrow333 {
  bottom: calc(50% - 24px);
}
.arrow222 {
  top: calc(50% - 21px);
}
.arrow444 {
  top: calc(50% - 24px);
}


@media screen and (max-width: 767.98px) {
  .basket_btn2 {
    display: block;
    position: absolute !important;
    bottom: 50%;
    transform: translateY(50%);
    right: 0;
    background: #e3d7f1;
    width: 2.2rem;
    border-radius: 8px 0 0 8px !important;
    z-index: 1;
    border-bottom: solid 2px white !important;
    border-top: solid 2px white !important;
    border-right: solid 2px #e3d7f1 !important;
    border-left: solid 2px white !important;
    padding: 4px 0;
    box-shadow: -8px 0 12px 1px #00000061;
    --bs-btn-active-shadow: -8px 0 12px 1px #00000061;
    --bs-btn-hover-bg: #d8cbe7;
    --bs-btn-active-bg: #d8cbe7;
  }
  .arrow11,
  .arrow22,
  .arrow33,
  .arrow44 {
    position: absolute;
    content: '';
  }
  .arrow11,
  .arrow22 {
    border-bottom: solid 4px transparent;
    border-top: solid 4px transparent;
    border-right: solid 4px transparent;
    border-left: solid 4px white;
    right: -4px;
    z-index: 1;
  }
  .arrow33,
  .arrow44 {
    border-bottom: solid 6px transparent;
    border-top: solid 6px transparent;
    border-right: solid 6px transparent;
    border-left: solid 6px #e3d7f1;
    right: -6px;
  }
  .arrow11 {
    bottom: calc(50% - 21px);
  }
  .arrow33 {
    bottom: calc(50% - 24px);
  }
  .arrow22 {
    top: calc(50% - 21px);
  }
  .arrow44 {
    top: calc(50% - 24px);
  }
}
@media screen and (max-width: 991.98px) {
  .basket_btn1 {
    display: block;
    position: absolute !important;
    bottom: 50%;
    transform: translateY(50%);
    right: 0;
    background: #e3d7f1;
    width: 2.2rem;
    border-radius: 8px 0 0 8px !important;
    z-index: 1;
    border-bottom: solid 2px white !important;
    border-top: solid 2px white !important;
    border-right: solid 2px #e3d7f1 !important;
    border-left: solid 2px white !important;
    padding: 4px 0;
    box-shadow: -8px 0 12px 1px #00000061;
    --bs-btn-active-shadow: -8px 0 12px 1px #00000061;
    --bs-btn-hover-bg: #d8cbe7;
    --bs-btn-active-bg: #d8cbe7;
  }
  .arrow1,
  .arrow2,
  .arrow3,
  .arrow4 {
    position: absolute;
    content: '';
  }
  .arrow1,
  .arrow2 {
    border-bottom: solid 4px transparent;
    border-top: solid 4px transparent;
    border-right: solid 4px transparent;
    border-left: solid 4px white;
    right: -4px;
    z-index: 1;
  }
  .arrow3,
  .arrow4 {
    border-bottom: solid 6px transparent;
    border-top: solid 6px transparent;
    border-right: solid 6px transparent;
    border-left: solid 6px #e3d7f1;
    right: -6px;
  }
  .arrow1 {
    bottom: calc(50% - 21px);
  }
  .arrow3 {
    bottom: calc(50% - 24px);
  }
  .arrow2 {
    top: calc(50% - 21px);
  }
  .arrow4 {
    top: calc(50% - 24px);
  }
  .q-d {
    position: fixed;
    bottom: 0.6rem;
    left: 0;
    z-index: 4;
    width: 12rem !important;
  }
  #d-spin {
    color: white;
    position: fixed;
    bottom: 1.1rem;
    left: 12rem;
    z-index: 4;
  }
  .addToBtn {
    position: fixed !important;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3.5rem;
    z-index: 3;
    border-top: 2px solid #fafafc !important;
    border-radius: 0 !important;
  }
}
.toast-container {
  padding: 2rem;
}
@media screen and (max-width: 575.98px) {
  .mh-30 {
    height: 30rem;
  }
  .toast-container {
    padding: 0;
    left: 0;
    width: 100%;
  }
  .toast {
    border-radius: 0 !important;
    width: 100%;
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 400px) {
  .mh-30 {
    height: 25rem;
  }
}
@media screen and (max-width: 300px) {
  .mh-30 {
    height: 20rem;
  }
}

.detail-mainimg {
  max-width: 37.5rem;
  max-height: 30rem;
  margin-left: auto;
  margin-right: auto;
}

.breadcrumb1 {
  color: #262535 !important;
  text-decoration: none !important;
}

.border-l1 {
  border-width: 1px;
}

#quantity:focus {
  border-color: transparent !important;
}

.hr-t1 {
  background: linear-gradient(to left, #36363a, #a09ebb00);
  width: 60%;
  height: 1px;
  border: 0;
}

/* .hr-t2 {
  position: relative;
}
.hr-t2::after{
  position: absolute;
  content: '';
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(to left, #36363a, #a09ebb00);
  width: 2px;
  height: 20px;
} */
.hr-t2 {
  background: linear-gradient(to left, #36363a, #a09ebb00);
  width: 2px;
  height: 20px;
  display: inline-block;
}

.img-clk:hover {
  cursor: pointer;
}

.btn {
  overflow: hidden;
  position: relative;
  border: none;
}

.ripple {
  position: absolute;
  width: 2px;
  height: 2px;
  animation-name: ripple;
  animation-duration: 1s;
  opacity: 0;
  border-radius: 50%;
}

@keyframes ripple {
  0% {
    opacity: 0.4;
    transform: scale(0);
    background: #000;
  }

  100% {
    opacity: 0;
    transform: scale(400);
    background: #000;
  }
}

/* shop */

.form-check-input:checked {
  background-color: #2e961d;
  border-color: #2e961d;
}

.form-check-input:focus {
  border-color: #86feba;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 253, 197, 0.25);
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

#shop,
#tags {
  height: 19rem;
}

#offer {
  min-height: 16.7rem;
}

@media (min-width: 1200px) {
  #offer {
    min-height: 19rem;
  }
}

@media (min-width: 1400px) {
  #offer {
    min-height: 21rem;
  }
}

@media (min-width: 2800px) {
  #offer {
    width: 175rem;
    margin-right: auto;
    margin-left: auto;
  }
}

.rotate-180 {
  transform: rotate(180deg);
}

/* utility */

.img-cover {
  object-fit: cover;
}

#joinUs-form {
  max-width: 19.5rem;
}

.none-d {
  display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.bb-1 {
  border-bottom: 1px solid #fff;
}

.lh-1d1 {
  line-height: 1.1;
}

.tsh-1 {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.55);
}

.tsh-2 {
  text-shadow: 0px 1px 0px rgba(38, 37, 53, 0.4);
}

.form-control.is-invalid {
  background-image: none;
}

.spin3 {
  width: 1.7rem;
  height: 1.7rem;
}

.authmodalH2 {
  height: 1.7rem;
}

.addToBtn {
  z-index: 3;
}

#uparr {
  width: 3rem;
  height: 3rem;
  z-index: 10;
  box-shadow: 0 0 4px 0.1rem rgb(9 8 8 / 20%);
}

.animm {
  animation: animm 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes animm {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animm2 {
  animation: animm2 1s 1 cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes animm2 {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  33% {
    opacity: 1;
    transform: scale(1.2);
  }
  66% {
    opacity: 1;
    transform: scale(1);
  }
}

.animm3 {
  animation: animm3 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes animm3 {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(3);
  }
}

#cats-nav1 li ul li a {
  padding: 1rem 3rem !important;
  background-color: #fcfcfc;
}

.rounded-width-1 {
  --bs-border-radius: 0.25rem;
}
.rounded-width-2 {
  --bs-border-radius: 0.375rem;
}
.rounded-width-3 {
  --bs-border-radius: 0.5rem;
}
.rounded-width-11 {
  --bs-border-radius: 0.75rem;
}
.rounded-width-4 {
  --bs-border-radius: 1rem;
}

.rounded-top-start-11 {
  border-top-left-radius: 0.75rem;
}

.spin {
  display: none;
}

.h-44 {
  height: 3.5rem;
}

.input-large-text {
  font-size: 1.25rem;
}

.ls-1 {
  letter-spacing: 1rem;
}

.dropstart:hover > .dropdown-menu {
  display: block;
  top: 0%;
  right: 100%;
}

.cursor-text {
  cursor: text;
}

.border-purple1 {
  border: 1px solid #5e2a9f;
  --bs-btn-hover-border-color: #5e2a9f;
  --bs-btn-active-shadow: 0 0 0 5px #5f2a9f36;
  --bs-btn-hover-color: #5e2a9f;
  --bs-btn-hover-bg: #bcb4c537;
  --bs-btn-active-bg: #ab73ec4a;
  --bs-btn-active-border-color: #5f2a9fab;
}

.img404 {
  width: 40%;
}

@media screen and (max-width: 400px) {
  .img404 {
    width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  .img404 {
    width: 30%;
  }
}

.h-1r {
  height: 1rem;
  line-height: 1.4;
}

.mh-30vh {
  max-height: 30vh;
}
.mh-40vh {
  max-height: 40vh;
  height: 40vh;
}
.mh-36vh {
  max-height: 36vh;
}
.mh-50vh {
  max-height: 47vh;
}

@media screen and (min-width: 768px) {
  .mh-50vh {
    max-height: 47vh;
  }
}

.mh-8d5vh {
  max-height: 8.5vh;
}

@media screen and (max-width: 372px),
  (min-width: 576px) and (max-width: 715px) {
  .timeoff {
    display: none;
  }
}

.lh-xbase {
  line-height: 1.75rem !important;
}

.rounded-start-4 {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.rounded-start-3 {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.rounded-end-3 {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .rounded-sm-md-end-0 {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  .rounded-sm-md-0 {
    border-radius: 0 !important;
  }
  .rounded-sm-md-start-0 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

.rounded-top-4 {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.rounded-bottom-end-4 {
  border-bottom-right-radius: 1rem;
}
.rounded-top-end-4 {
  border-top-right-radius: 1rem;
}
.rounded-top-start-4 {
  border-top-left-radius: 1rem;
}
.bsh-1 {
  box-shadow: 0 9px 13px 0.25rem rgb(9 8 8 / 43%);
}

.ripple-icon {
  padding: 15px 14px !important;
}

.ripple-icon svg,
.ripple-icon .spinner-grow {
  margin: -10px;
  display: block;
}

.lh-26px {
  line-height: 26px;
}

input[name="quantity"] {
  width: 20px;
}

.w-10px {
  width: 10px;
  height: 10px;
}

.mt-n2 {
  margin-top: -0.5rem;
}

@media (min-width: 768px) {
  .w-md-auto {
    width: auto !important;
  }

  .w-md-100 {
    width: 100% !important;
  }

  .flex-md-column {
    flex-direction: column !important;
  }

  .end-md-auto {
    right: auto !important;
  }
}

.slick-prev {
  right: 2px !important;
}

.slick-next {
  left: 0 !important;
}

.slick-prev:before,
.slick-next:before {
  color: #362b2b;
}

.icon-mobile {
  width: 32px;
  height: 32px;
}

@media (min-width: 992px) {
  .icon-mobile {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 768px) {
  .rounded-md-3 {
    border-radius: 0.5rem !important;
  }
}

@media (min-width: 768px) {
  .bg-md-transparent {
    background-color: transparent;
  }
}

.responsive6 li.slick-active button:before {
  background-color: #06c270;
}

.offer-res li.slick-active button:before {
  background-color: #c22020;
}

.end-auto {
  right: auto !important;
}

@media (min-width: 992px) {
  .position-lg-static {
    position: static !important;
  }
}

@media (min-width: 768px) {
  .position-md-static {
    position: static !important;
  }
}

@media (min-width: 992px) {
  .position-lg-relative {
    position: relative !important;
  }
}

.noavail {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #ffffff40;
}

.noavail2 {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  background: #e63535;
  border-radius: 1rem 0;
  padding: 0.375rem 1rem;
  color: #fff;
}

.mt-1px {
  margin-top: 1px;
}

.circle-small-border {
  text-align: center;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  line-height: 27px;
  border: 1px solid #fff;
}

.rounded-nw {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  display: inline-block;
}

.rounded-nw2 {
  width: 25px;
  height: 25px;
  line-height: 30px;
  border-radius: 50%;
  display: inline-block;
}

.slick-dots {
  bottom: -2rem;
}

.elipsis {
  position: relative;
  overflow: hidden;
  line-height: 2em !important;
  height: 3.6em;
}

.elipsis::after {
  position: absolute;
  content: "";
  background: linear-gradient(to left, transparent, #f8f9fa);
  width: 50%;
  height: 50%;
  bottom: 0;
  left: 0;
}

.elipsis-white::after {
  background: linear-gradient(to left, transparent, #ffffff);
}

.elipsis-small {
  height: 1.6em;
}

.elipsis-small::after {
  height: 100%;
}

.border-top-2-white {
  border-top: 2px solid #fafafc !important;
}

.zindex-10 {
  z-index: 10;
}

.img-smaller-wrapper {
  max-width: 4.125rem;
  height: 4.125rem;
}

.img-small-wrapper {
  max-width: 6.25rem;
  height: 7.5rem;
}

@media (max-width: 991px) {
  .img-small-wrapper-e {
    max-width: 3rem;
    height: 3rem;
  }
}

@media (max-width: 575px) {
  .img-small-wrapper-e3 {
    max-width: 3rem;
    height: 3rem;
  }
}

@media (max-width: 767px) {
  .img-small-wrapper-e2 {
    max-width: 4rem;
    height: 4.5rem;
  }
}

.lh-19px {
  line-height: 19px;
}

/* profile */

@media (max-width: 575px) {
  .prof-button {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .border-md-green {
    border: 1px solid #2e961d !important;
  }
  .border-md-yellow {
    border: 1px solid #bc9600 !important;
  }
  .border-md-red {
    border: 1px solid #bc1f00 !important;
  }
}

@media (min-width: 992px) {
  .border-lg-red {
    border: 1px solid #c22020 !important;
  }
}

.border-green {
  border: 1px solid #2e961d;
}

.border-green1 {
  border: 1px solid rgba(28, 85, 19, 0.3);
}

.border-yellow1 {
  border: 1px solid rgba(85, 55, 19, 0.3);
}

.border-red1 {
  border: 1px solid rgba(85, 23, 19, 0.3);
}

.border-red {
  border: 1px solid #c22020;
}

.prof-btn {
  color: #5b597f;
  background-color: #f2f2f5;
  border: 0.7px solid #a09ebb33 !important;
}

.btn:active {
  color: inherit !important;
}

.basket_btn1:active {
  color: antiquewhite !important;
}

.prof-btnactive {
  color: #fff;
  background-color: #004fc4;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #043683;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-bg: #032353;
  border: none;
}

/* cart */

#submitCart {
  transition: color 0.1s;
}

#submitCart:active {
  color: rgba(255, 255, 255, 0.541) !important;
}

.cart-off2 {
  position: absolute;
  bottom: 0;
  right: -5px;
  transform: rotate(-45deg);
  line-height: 12px;
  height: 16px;
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.cart-button {
  width: 2.2rem;
}

#news-sub {
  position: absolute;
  width: 4rem;
  left: 0;
}

.cart-buttontext {
  height: 1.875rem;
  line-height: 1.875rem;
  margin-bottom: 0.375rem;
}

.bg-red4:active {
  color: #fff !important;
}
.bg-gray6:active,
.cart-buttontext:active,
.bg-red1:active,
.cartType:active,
#news-sub:active,
#contactSubmit:active {
  color: #cbc5c5 !important;
}
.border-purple1:active {
  color: #5e2a9f !important;
}

@media screen and (min-width: 992px) {
  #search-btn {
    width: 11rem;
  }
}

@media screen and (max-width: 350px) {
  #ext {
    font-size: 0.7rem;
  }
  #search-btn-text {
    display: none;
  }
}

@media screen and (min-width: 292px) and (max-width: 350px), (max-width: 692px) and (min-width: 576px) {
  .test4 {
    margin-right: 0.5rem !important;
  }
}

.disstyle-none:disabled {
  --bs-btn-disabled-bg: #e3d7f1;
  --bs-btn-disabled-border-color: white;
  border-right-color: #e3d7f1;
  --bs-btn-disabled-opacity: 1;
  pointer-events: none;
}